@mixin mainThema {
	font-family:  "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", sans-serif;
	background: #1b1b1b;
    color:   whitesmoke;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

/* font系 */
@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore|Mansalva|Molle:400i|Permanent+Marker&display=swap');

@font-face {
	font-family: 'acgyosyo';
	src: url(src\assets\font\acgyosyo.ttf);
}

/* bodyタグに適用 */
body{
    @include mainThema();
}