.company {
    font-family: 'Permanent Marker', 'acgyosyo', cursive;

    .title {
        margin-top: -100px;
        text-align: center;
        font-size: 100px;

    }

    .contents {
        margin-bottom: 100px;
        padding-left: 50px;
        margin-bottom: 200px;

        label{
            display: inline-block;
            border-top: solid;
            border-top-width: 1px;
            padding-top: 100px;
            padding-bottom: 100px;
            font-size: 50px;
        }

        p {
            font-size: 20px;
            margin-bottom: 50px;
        }
    }

    .fade_in_up {
        animation:fadeInUp 2s linear;
      }

      @keyframes fadeInUp {
       0% { 
        opacity: 0; 
        transform: translateY(60px);
       }
       100% {
        opacity: 1;
        transform: translateY(0);
       }
      }
}

@media screen and (min-width:760px) and (max-width: 1050px) {
    .company {
        .title {
            margin-top: 0px;
            font-size: 60px;
        }
    }
}

@media screen and (min-width:300px) and (max-width: 759px) {
    .company {
        .title {
            margin-top: 0px;
            font-size: 40px;
    
        }
        .contents {
            padding-left: 10px;
            margin-bottom: 100px;
    
            label{
                display: inline-block;
                border-top: solid;
                border-top-width: 1px;
                padding-top: 50px;
                padding-bottom: 50px;
                font-size: 20px;
            }
    
            p {
                font-size: 12px;
                margin-bottom: 10px;
            }
        }
    }

}