<div class="company">
    <div class="title">
        <p>COMPANY</p>
    </div>
    <div class="contents">
        <label>企業理念</label>
            <div class="fade_in_up">
            <p>地域の文化、伝統、産業、自然を保存し、且つ活性化・発展させることで日本をより豊かにする。</p>
            <p>我が国は文化的、産業的に非常に独自性が高く貴重な資源を数多く保有しております。</p>
            <p>ただ、そのような資源を有効に活用したり、価値の維持・増大を実現できているのは、ごく一部の地域だけであり、その多くは都市部や既にブランド化が完成している地域です。</p>
            <p>しかし、貴重な資源は地方地域にこそ多数存在するのであり、保存・活用がうまく出来さえすれば、どの地域においても発展の可能性が十分あると考えられます。</p>
            <p>私たちは地域の資源を保存・活用するための仕組作りや課題解決を様々な側面から支援し、地域の更なる発展を実現したいと考えております。</p>
        </div>
    </div>
    <div class="contents">
        <label>企業概要</label>
            <div class="fade_in_up">
            <p>社名：株式会社こふろ</p>
            <p>設立年月日：2019年3月</p>
            <p>代表取締役：國村周平</p>
            <p>住所：〒182-0024 東京都調布布田2丁目21番地7-706</p>
            <p>業務：IT・コンサルティング・飲食店</p>
        </div>
    </div>
</div>