<div class="news">
    <div class="title">
        <p>news</p>
    </div>
    <div class="contents">
        <p>新着情報<a href="https://www.facebook.com/SAKEbar%E5%8F%A4%E9%A2%A8%E8%B7%AF-102538547883732/"><img src="/assets/image/FACEBOOK.png"></a></p>
        <p><label>当店facebookページにてイベント情報など配信中。</label></p>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FSAKEbar%25E5%258F%25A4%25E9%25A2%25A8%25E8%25B7%25AF-102538547883732%2F%3F__tn__%3D%252Cd%252CP-R%26eid%3DARAFWZ-jPV5-YHiyBd59iwkq4iXX9oYCpmG2jIA0q0Ro7-8z6_eoC9gQrjNljATbtOiyGKVXGi2vsYN8&tabs=timeline&width=500&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" style="border:none;overflow:hidden" scrolling="auto" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div class="arrival">
        <p>入荷情報<a href="https://www.instagram.com/cofro20191202/"><img src="/assets/image/insta.png"></a></p>
        <p><label>お酒の入荷情報はインスタグラムにて更新します。</label></p>
        <!-- SnapWidget -->
        <script src="https://snapwidget.com/js/snapwidget.js"></script>
        <iframe src="https://snapwidget.com/embed/761253" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="overflow:hidden; border:none;"></iframe>
    </div>
</div>
