.news {
    font-family: 'Permanent Marker', 'acgyosyo', cursive;
    text-align: center;
    margin-top: -100px;
    margin-bottom: 20px;

    p{
        font-size: 100px;
    }

    label {
        font-size: 20px;
    }

    .contents{
        margin-top: -50px;
        p{
            font-size: 30px;
        }

        iframe {
            width: 500px;
            height: 500px;
        }
    }

    .arrival{
        p{
            font-size: 30px;
        }

        iframe {
            width:60%;
            height:800px;
        }
    }
}

@media screen and (min-width:760px) and (max-width: 1000px) {
    .news {
        margin-top: 0px;
        margin-bottom: 0px;
        .title {
            padding-bottom: 20px;
            p {
                font-size: 60px;
            }
        }
        .contents {
            margin-top: -70px;
        }
        .arrival {
            iframe {
                width:100%;
                height:500px;
            }
        }
    }

}

@media screen and (min-width:300px) and (max-width: 759px) {
    .news {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        .title {
            padding-bottom: 20px;
            p{
                font-size: 40px;
            }
        }
    
        label {
            font-size: 15px;
        }

        .contents {
            margin-top: -40px;
            p{
                font-size: 20px;
            }
    
            iframe {
                width: 100%;
                height: 500px;
            }
        }
    
        .arrival {
            p{
                font-size: 20px;
            }
    
            iframe {
                width:100%;
                height:300px;
            }
        }
    }
}