header {
  width:100%;
  height:300px;
  margin-top: -30px;
  background-image: url("/assets/image/footer00.png");
  
  .header-content {
    nav {
      text-align: left;
        label{
          font-size: 30px;
        }
        p {
          font-family: 'Mansalva', 'acgyosyo', cursive;
          margin-top: 30px;
          font-size: 80px;
        }
        .sub-title {
          font-family: 'La Belle Aurore', 'acgyosyo', cursive;
          margin-top: -70px;
          padding-left: 1%;
          font-size: 20px;
        }
      ul {
        text-align: right;
        li {
          padding-top: 4%;
          padding-right: 10px;
          color:whitesmoke;
          display:inline-block;
          font-family: 'Molle', 'acgyosyo', cursive;
        }
        a {
          margin-right: 30px;
        }
      }
    }
  }
}

.header-phone {
  display: none;
}

footer {
  width:100%;
  height:150px;
  background-image: url("/assets/image/footer00.png");
  
  .footer-content {
    font-family: 'Molle', 'acgyosyo', cursive;
    ul {
      text-align: center;
        li {
          margin-top:20px;
          color:whitesmoke;
          display:inline-block;
          font-size:15px;
          padding-right:15px;
        }
        a {
          margin-left:30px;
        }
      }
      
      .copy-right {
      padding-top: 50px; 
      margin-top: -1%;
      text-align: center;
    }
  }
}

.footer-phone {
  display: none;
}

@media screen and (min-width:760px) and (max-width: 1000px) {
  header {
    width:100%;
    height:200px;
    margin-top: -30px;

    .header-content {
      nav {
        text-align: left;
        p {
          margin-top: 30px;
          font-size: 50px;
        }
          label{
            font-size: 20px;
          }
          .sub-title {
            margin-top: -50px;
            padding-left: 1%;
            font-size: 15px;
          }

        ul {
          text-align: center;
          
          li {
            margin-top: 0px;
            color:whitesmoke;
            font-size: 30px;
            display:inline-block;
            font-family: 'Molle', 'acgyosyo', cursive;
          }

          a {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .header-phone {
    display: none;
  }
  .footer-phone {
    display: none;
  }

  footer {
    width:100%;
    height:150px;
    background-image: url("/assets/image/footer00.png");
    
    .footer-content {
      font-family: 'Molle', 'acgyosyo', cursive;
      ul {
        text-align: center;
          li {
            margin-top:20px;
            color:whitesmoke;
            display:inline-block;
            font-size:30px;
            padding-right:15px;
          }
          a {
            margin-left:30px;
          }
        }
        
        .copy-right {
        padding-top: 50px; 
        margin-top: -1%;
        text-align: center;
        font-size:20px;
        font-family: 'Times New Roman', Times, serif, cursive;
      }
    }
  }
}

@media screen and (min-width:300px) and (max-width: 759px) {

  header {
    display: none;
  }

  .header-phone {
    display: contents;
    
    .header-var {
      width:100%;
      height:50px;
      padding:10px;
      background-image: url("/assets/image/footer00.png");
    }

    #nav-drawer {
      position: relative;
      p {
        text-align: center;
        margin-top: -25px;
      }
    }

    #nav-title{
      font-size: 20px;
      font-family: 'Mansalva', 'acgyosyo', cursive;
    }

    .nav-unshown {
      display:none;
    }

    #nav-open {
      display: inline-block;
      width: 30px;
      height: 22px;
      vertical-align: middle;
    }

    #nav-open span, #nav-open span:before, #nav-open span:after {
      position: absolute;
      margin-top: 10px;
      height: 3px;
      width: 25px;
      border-radius: 3px;
      background: rgb(248, 242, 242);
      display: block;
      content: '';
      cursor: pointer;
    }

    #nav-open span:before {
      bottom: -8px;
    }
    #nav-open span:after {
      bottom: -16px;
    }

    #nav-close {
      display: none;
      position: fixed;
      z-index: 99;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0;
      transition: .3s ease-in-out;
    }

    #nav-content {
      overflow: auto;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      width: 70%; 
      max-width: 330px;
      height: 70%;
      background-image: url("/assets/image/footer02.png");
      transition: .3s ease-in-out;
      -webkit-transform: translateX(-105%);
      transform: translateX(-105%);
      ul {
        display: inline;
        text-align: left;
        font-family: 'Molle', 'acgyosyo', cursive;
        p {
          margin-top: 5px;
          font-size: 30px;
        }
        a {
          text-decoration: none;
        }
        li {
          padding: 5px;
          font-size: 28px;
          color:whitesmoke;
        }
        label {
          font-size: 13px;
        }
      }
    }

    #nav-input:checked ~ #nav-close {
      display: block;
      opacity: .5;
    }

    #nav-input:checked ~ #nav-content {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      box-shadow: 6px 0 25px rgba(0,0,0,.15);
    }
  }

  footer {
    display: none;
  }

  .footer-phone {
    width:100%;
    height: 400px;
    background-image: url("/assets/image/footer00.png");
    font-family: 'Molle', 'acgyosyo', cursive;
    display: block;

    ul {
      padding-top: 5px;
      text-align: center;
      list-style: none;
        li {
          margin-top:30px;
          color:whitesmoke;
          font-size:30px;
          padding-right:15px;
        }
        label {
          font-size:15px;
        }
        a {
          text-decoration: none;
        }
      }

    .social {
      padding-top: 10px;
    }
    .social ul li {
      display: inline;
      margin-right: 1em;
    }

    .copy-right {
      padding-top: 15px; 
      margin-top: 0%;
      text-align: center;
      font-size:20px;
      font-family: 'Times New Roman', Times, serif, cursive;
    }
  }
}