<!--header-->
<header>
    <div class="header-content">
      <nav class="navbar">
        <p>SAKEbar古風路<label>&nbsp;&nbsp;-cofro-</label></p>
        <div class="sub-title">
          日本酒バー&nbsp;&nbsp;Since2019.
        </div>
        <ul>
          <a routerLink=""><li>TOP</li></a>
          <a routerLink="about"><li>ABOUT</li></a>
          <a routerLink="DrinkMenu"><li>MENU</li></a>
          <a routerLink="news"><li>NEWS</li></a>
          <a routerLink="acsess"><li>ACCESS</li></a>
        </ul>
      </nav>
    </div>
</header>
<div class="header-phone">
  <div class="header-var">
    <div id="nav-drawer">
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input"><span></span></label>
        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-title"><p>SAKEbar古風路<br><label>-cofro-</label></p></div>
        <div id="nav-content">
            <ul>
              <p>お品書き</p>
              <a routerLink=""><li>TOP</li></a><label>トップメニューへ戻ります</label>
              <a routerLink="about"><li>ABOUT</li></a><label>SAKEbar古風路とは...</label>
              <a routerLink="DrinkMenu"><li>MENU</li></a><label>飲み物メニュー</label>
              <a routerLink="news"><li>NEWS</li></a><label>新着情報、入荷情報はこちら</label>
              <a routerLink="acsess"><li>ACCESS</li></a><label>SAKEbar古風路へ行くには</label>
            </ul>
        </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<footer>
    <div class="footer-content">
      <ul>
        <a routerLink="company"><li>COMPANY</li></a>
        <a routerLink="privacyPolicy"><li>PRIVACYPOLICY</li></a>
        <!-- <a routerLink="contact"><li>CONTACT</li></a> -->
        <a href="https://www.instagram.com/cofro20191202/"><li><img src="/assets/image/insta.png"></li></a>
        <!-- <a routerLink=""><li><img src="/assets/image/Twitter.png"></li></a> -->
        <a href="https://www.facebook.com/SAKEbar%E5%8F%A4%E9%A2%A8%E8%B7%AF-102538547883732/"><li><img src="/assets/image/FACEBOOK.png"></li></a>
      </ul>
      <div class="copy-right">
          <small>© 2019 cofro inc.</small>
      </div>
    </div>
</footer>
<div class="footer-phone">
    <ul>
      <a routerLink="company"><li>COMPANY</li></a><label>運営会社</label>
      <a routerLink="privacyPolicy"><li>PRIVACYPOLICY</li></a><label>個人情報の扱いについて</label>
      <!-- <a routerLink="contact"><li>CONTACT</li></a> -->
    </ul>
    <div class="social">
      <ul> 
       <a href="https://www.instagram.com/cofro20191202/"><li><img src="/assets/image/insta.png"></li></a>
        <!-- <a routerLink=""><li><img src="/assets/image/Twitter.png"></li></a> -->
       <a href="https://www.facebook.com/SAKEbar%E5%8F%A4%E9%A2%A8%E8%B7%AF-102538547883732/"><li><img src="/assets/image/FACEBOOK.png"></li></a>
      </ul>
    </div>
    <div class="copy-right">
        <small>© 2019 cofro inc.</small>
    </div>
</div>