<div class="drink-menu">
    <div class="title">
        <p>MENU</p>
    </div>
    <div class="sub-title">
        <p>飲み物&nbsp;&nbsp;<label>DRINK</label></p>
    </div>
    <div class="menu">
        <p>日本酒&nbsp;&nbsp;-SAKE-</p>
        <label>広島のお酒を中心に取り揃えております。</label>
    </div>
    <div class="grid">
        <div class="item">
            <div class="item-img">
                <img src="/assets/image/menu/sake-menu03.jpeg">
            </div>
            <div class="item-data">
                <p>酒名：老亀</p>
                <p>生産地：広島県</p>
                <p>特別純米</p>
                <p>精米歩合：60%</p>
            </div>
        </div>
        <div class="item">
            <div class="item-img">
                <img src="/assets/image/menu/sake-menu01.jpeg">
            </div>
            <div class="item-data">
                <p>酒名：神力</p>
                <p>生産地：広島県</p>
                <p>純米原酒</p>
                <p>精米歩合：85%</p>
            </div>
        </div>
        <div class="item">
            <div class="item-img">
                <img src="/assets/image/menu/sake-menu02.jpeg">
            </div>
            <div class="item-data">
                <p>酒名：誠鏡</p>
                <p>生産地：広島県</p>
                <p>純米吟醸酒</p>
                <p>精米歩合：65%</p>
            </div>
        </div>
        <div class="item">
            <div class="item-img">
                <img src="/assets/image/menu/sake-menu06.jpeg">
            </div>
            <div class="item-data">
                <p>酒名：富久長</p>
                <p>生産地：広島県</p>
                <p>純米吟醸酒</p>
                <p>精米歩合：50%</p>
            </div>
        </div>
        <div class="item">
            <div class="item-img">
                <img src="/assets/image/menu/sake-menu09.jpeg">
            </div>
            <div class="item-data">
                <p>酒名：賀茂金秀</p>
                <p>生産地：広島県</p>
                <p>特別純米酒</p>
                <p>精米歩合：50%</p>
            </div>
        </div>
        <div class="item">
            <div class="item-img">
                <img src="/assets/image/menu/sake-menu11.jpeg">
            </div>
            <div class="item-data">
                <p>酒名：白鴻</p>
                <p>生産地：広島県</p>
                <p>純米酒</p>
                <p>精米歩合：70%</p>
            </div>
        </div>
    </div>
    <div class="menu">
        <label>他の日本酒も多数揃えています。</label>
    </div>
    <div class="menu">
        <p>ビール&nbsp;&nbsp;BEER</p>
        <p>ウィスキー&nbsp;&nbsp;WHISKY</p>
        <p>焼酎&nbsp;&nbsp;SHOUCHU</p>
    </div>
    <div class="sub-title">
        <p>おつまみ&nbsp;&nbsp;<label>FOOD</label></p>
        <div class="menu">
            <p>牡蠣・珍味</p>
            <p>お漬物類</p>
            <p>スナック類</p>
        </div>
    </div>
    <div class="sub-title">
        <p>その他&nbsp;&nbsp;<label>etcetera</label></p>
    </div>
    <div class="etc">
        <p>SAKEbar古風路では、Webサイト開発の受注を承っております。</p>
        <p>お気軽にお見積りご相談ください。</p>
    </div>
</div>
