.drink-menu {
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Permanent Marker', 'acgyosyo', cursive;

    .title{
        margin-top: -100px;
        margin-bottom: -100px;
        font-size: 100px;
        padding: 0px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3列 */
        grid-column-gap: 30px; /* 間隔 */
        grid-row-gap: 30px; /* 縦間隔 */
        .item {
            display: flex;
            .item-img {
                padding-left: 20px;
                img {
                    width: auto;
                    height: 200px;
                }
            }
            .item-data {
                text-align: left;
                padding-left: 20px;
                p {
                    font-size: 20px;
                }
            }
        }
    }

    .menu {
        padding-bottom: 20px;
        p {
            font-size: 30px;
        }
        label {
            font-size: 18px;
        }
    }

    .sub-title{
        margin-top: -30px;
        font-size: 50px;
        padding-bottom: 0px;
        
        label {
            font-size: 20px;
        }

        .menu {
            margin-top: -40px;
            font-size: 20px;
        }
    }

    .etc {
        margin-top: -30px;
        font-size: 20px;
        font-family: 'Mansalva', 'acgyosyo', cursive;
    }
}



/* レスポンシブ対応 */
@media screen and (max-width: 1050px) {
    .drink-menu {
        margin-bottom: 50px;
        text-align: center;
        font-family: 'Permanent Marker', 'acgyosyo', cursive;
    
        .title{
            margin-top: 0px;
            margin-bottom: -40px;
            font-size: 60px;
            padding: 0px;
        }
    
        .sub-title{
            padding: 0px;
            font-size: 25px;
            margin-bottom: 15px;

            .menu{
                margin-top: -10px;
                font-size: 13px;
            }
            
            label {
                font-size: 15px;
            }
        }
        
        .grid {
            grid-template-columns: repeat(2, 1fr);
            
            img{
                width: 60%;
                height: 100%;
            }
        }

        .etc {
            margin-top: 5px;
            font-size: 20px;
            font-family: 'Mansalva', 'acgyosyo', cursive;
        }
    
    }
}

@media screen and (max-width: 759px) {
    .drink-menu {
        margin-bottom: 50px;
        text-align: center;
        font-family: 'Permanent Marker', 'acgyosyo', cursive;
    
        .title {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 40px;
            padding: 0px;
        }

        .menu {
            padding-bottom: 20px;
            p {
                font-size: 20px;
            }
            label {
                font-size: 18px;
            }
        }
    
        .sub-title {
            padding: 0px;
            font-size: 30px;
            margin-bottom: 15px;
            
            label {
                font-size: 15px;
            }
            .menu {
                margin-top: -10px;
                font-size: 20px;
            }
        }
        
        .grid {
            grid-template-columns: auto;
            
        }

        .etc {
            margin-top: 5px;
            font-size: 18px;
            font-family: 'Mansalva', 'acgyosyo', cursive;
        }
    
    }
}
