.about {
    font-family: 'Permanent Marker', 'acgyosyo', cursive;

    .title{
        margin-top: -100px;
        font-size: 100px;
        padding-bottom: 50px;
        text-align: center;
        
        P {
            margin-bottom: 0px;
        }
    }

    .sub-title {
        font-size: 40px;
        text-align: center;

        label{
            font-size: 20px;
        }
    }

    .content{
        text-align: center;

        img{
            width: 60%;
        }


        .p-flextest {
            width: 100%;
            height: 100%;
            padding-bottom: 30px;
            display:flex;
        
            &__item {
                flex-basis: 100%;
                padding: 5px;
                font-size: 20px;
        
                &:first-of-type {
                    padding-left: 10px;
                    margin-bottom:-20px;
                }
        
                &:nth-of-type(2) {
                    padding-top: 10px;
                    padding-right: 80px;
                }
            }
        }

        .p-flextest-left {
            width: 100%;
            height: 100%;
            padding-bottom: 40px;
            display:flex;
        
            &__item {
                flex-basis: 100%;
                padding: 5px;
                font-size: 20px;
        
                &:first-of-type {
                    padding: 50px;
                    margin-bottom:-20px;
                }
        
                &:nth-of-type(2) {
                    padding-top: 0px;
                    padding-right: 80px;
                }
            }
        }

        .p-flextest-phone{
            display: none;
        }
    }
}

@media screen and (min-width:700px) and (max-width: 1000px) {
    .about {
        .title{
            margin-top: 0px;
            font-size: 60px;
            
            P {
                margin-bottom: 0px;
            }
        }

        .sub-title {
            font-size: 30px;
            text-align: center;

            label{
                font-size: 20px;
            }
        }

        .content{
            text-align: center;

            img{
                width: 100%;
            }


            .p-flextest {
                display:block;
                margin-bottom:50px;

                &__item {
                    flex-basis: 100%;
                    padding: 5px;
                    font-size: 20px;
            
                    &:first-of-type {
                        padding: 50px;
                        margin-bottom:0px;
                    }
            
                    &:nth-of-type(2) {
                        padding-top: 0px;
                        padding-right: 0px;
                    }
                }
            }

            .p-flextest-left {
                display:none;
            }

            .p-flextest-phone {
                display:block;
                margin-bottom:50px;
                
                &__item {
                    flex-basis: 100%;
                    padding: 5px;
                    font-size: 20px;
            
                    &:first-of-type {
                        padding: 50px;
                        margin-bottom:0px;
                    }
            
                    &:nth-of-type(2) {
                        padding-top: 0px;
                        padding-right: 0px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:300px) and (max-width: 699px) {
    .about {
        .title{
            margin-top: 0px;
            font-size: 40px;
            
            P {
                margin-bottom: 0px;
            }
        }

        .sub-title {
            font-size: 15px;
            text-align: center;

            label{
                font-size: 10px;
            }
        }

        .content{
            text-align: center;
            margin-top: -50px;

            img{
                width: 100%;
            }


            .p-flextest {
                display:block;
                margin-bottom:50px;
                &__item {
                    flex-basis: 100%;
                    padding: 5px;
                    font-size: 12px;
            
                    &:first-of-type {
                        padding: 50px;
                        margin-bottom:0px;
                    }
            
                    &:nth-of-type(2) {
                        padding-top: 0px;
                        padding-right: 0px;
                    }
                }
            }

            .p-flextest-left {
                display:none;
            }

            .p-flextest-phone {
                display:block;
                margin-bottom:50px;

                &__item {
                    flex-basis: 100%;
                    padding: 5px;
                    font-size: 12px;
            
                    &:first-of-type {
                        padding: 50px;
                        margin-bottom:0px;
                    }
            
                    &:nth-of-type(2) {
                        padding-top: 0px;
                        padding-right: 0px;
                    }
                }
            }
        }
    }
}