<div class="about">
    <div class="title">
        <p>ABOUT</p>
    </div>
    <div class="content">
        <div class="p-flextest">
                <div class="p-flextest__item">
                        <img src="assets\image\top11.jpg">
                </div>
                <div class="p-flextest__item">
                        <p class="sub-title">未知の風味の開拓<label>～訪れる度に新しい出会いを～</label></p>
                        <p>普段味わう機会が少ない地酒を</p>
                        <p>古風路では地方をコンセプトに都内ではなかなか味わうことのできない</p>
                        <p>日本酒を味うことができます。</p>
                        <p>新しいお気に入りを開拓してみませんか。</p>
                </div>
        </div>
    </div>
    <div class="content">
            <div class="p-flextest-left">
                    <div class="p-flextest__item">
                        <p class="sub-title">広島の酒<label>～軟水仕込の魅力～</label></p>
                        <p>一般的に酒造りには硬水が適していると言われています。</p>
                        <p>しかし、広島の水は多くが軟水であり酒造りに向いていないと考えられていました。</p>
                        <p>明治30年（1897）に三浦仙三郎氏により全く独創的な「軟水醸造法」が編み出され、</p>
                        <p>ロあたりが柔らかく、まろやかな「広島酒」の製造に成功しました。</p>
                        <p>おんな酒といわれるやさしく穏やかで味わい深い広島酒、</p>
                        <p>心ゆくまで堪能してください。</p>                                
                    </div>
                    <div class="p-flextest__item">
                        <img src="assets\image\shop\IMG_0105.jpeg">
                    </div>
            </div>
    </div>
    <div class="content">
                <div class="p-flextest-phone">
                        <div class="p-flextest__item">
                            <img src="assets\image\shop\IMG_0105.jpeg">
                        </div>
                        <div class="p-flextest__item">
                            <p class="sub-title">広島の酒<label>～軟水仕込の魅力～</label></p>
                            <p>一般的に酒造りには硬水が適していると言われています。</p>
                            <p>しかし、広島の水は多くが軟水であり酒造りに向いていないと考えられていました。</p>
                            <p>明治30年（1897）に三浦仙三郎氏により全く独創的な「軟水醸造法」が編み出され、</p>
                            <p>ロあたりが柔らかく、まろやかな「広島酒」の製造に成功しました。</p>
                            <p>おんな酒といわれるやさしく穏やかで味わい深い広島酒、</p>
                            <p>心ゆくまで堪能してください。</p> 
                        </div>
                </div>
        </div>
    <div class="content">
            <div class="p-flextest">
                <div class="p-flextest__item">
                        <img src="assets\image\shop\IMG_0134.jpeg">
                </div>
                <div class="p-flextest__item">
                        <p class="sub-title">落ち着いた空間<label>～神楽坂の畔、静寂と粋な雰囲気の中で～</label></p>
                        <p>都会の喧騒から解放され、じっくりと酒と対峙</p>
                        <p>東京、神楽坂のメイン通りから少し離れた場所、</p>
                        <p>静かで趣あるカウンターだけの小さな店で日本酒とじっくり向き合う。</p>
                        <p>古風路が厳選した酒とつまみで心のほぐれるひとときをお楽しみください。</p>
                    </div>
            </div>
    </div>
</div>
