<div class="contact">
    <div class="title">CONTACT</div>
    <div class="from-layer">
        <p>下記のフォームからお問い合わせ下さい。</p>
        <p>Please inquire from the form below.</p>
        <hr>
        <div class ="msr_text">
            <label>Name（氏名）<span>[必須]</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="txet" fromControlName="name">
        </div>
        <div class ="msr_text">
            <label>Mail（メールアドレス）<span>[必須]</span>&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="email" fromControlName="mail">
        </div>
        <div class ="msr_text">
            <label>Tell（電話番号）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="tel" fromControlName="tell">
        </div>
        <div class ="msr_textarea">
            <label>ContactOfInquiry（お問い合わせ内容）<span>[必須]</span></label>
            <textarea fromControlName="inquiry"></textarea>
        </div>
        <div class="privacy-policy">
            <p>個人情報の取り扱いについて</p>
            <hr>
            <p>ご入力いただく個人情報の取り扱いについては、弊社の<a herf="./privacyPolicy" target="_blank">プライバシー・ポリシー</a>に従い、厳重に保管しております。</p>
            <p>また、ご利用様の個人情報は特段の事情がない限りご利用様の承諾なく、第三者に開示・提供することはありません。</p>
        </div>
        <div class ="msr_sendbtn">
            <input type="submit" value="click">
        </div>
    </div>
</div>