.contact {
  font-family: 'Permanent Marker', 'acgyosyo', cursive;
  text-align: center;

    .title { 
      font-size: 100px;
    }
  
  .from-layer{
    /*--------------------------------------
    テキスト
    ---------------------------------------*/
    .msr_text {
      padding-top: 20px;
      padding-bottom: 2%;
      margin: 0px auto;
      
        label {
          font-size: 20px;
          padding-bottom: 5px;
        }

        span {
          color: crimson;
          font-family: Arial, Helvetica, sans-serif;
        }
        
        input {
          border: 1px solid #1B73BA;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          color: #333;
          font-size: 15px;
          padding: 10px;
          height: 40px;
          width: 300px;
        }
     }
    
    
    /*--------------------------------------
    テキストエリア
    ---------------------------------------*/
    .msr_textarea {
      padding-bottom: 20px;

      label {
        font-size: 20px;
        display: block;
        padding-bottom: 20px;
        .center {
          top:0px;
        }
      }

      span {
        color: crimson;
        font-family: Arial, Helvetica, sans-serif;
      }
      
      textarea {
        margin: 0px auto;
        border: 1px solid #1B73BA;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        color: #333;
        font-size: 20px;
        padding: 10px;
        height: 210px;
        width: 400px;
      }
    }
    
    /*--------------------------------------
    送信ボタン
    ---------------------------------------*/
    .msr_sendbtn{
        margin: 50px;  
      }
    
      .msr_sendbtn input[type=submit] {
        background: url(src/assets/image/arrow_blue02.png) no-repeat;
        background-position: 10px;
        border: 2px solid #1B73BA;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        color: #1B73BA;
        cursor: pointer;
        font-size: 14px;
        transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -webkit-transition: 0.2s ease-in-out;
        height: 40px;
        width: 150px;
      }
      .msr_sendbtn input[type=submit]:hover {
        opacity: 0.6;
      }
      .msr_sendbtn input[disabled=disabled] {
        background: #B4B4B4 url(src/assets/image/arrow_gray02.png) no-repeat;
        background-position: 10px;
        border: 2px solid #7E7E7E;
        color: #7E7E7E;
        cursor: default;
      }
      .msr_sendbtn input[disabled=disabled]:hover {
        opacity: 1;
    }
    
    hr {
      height:0;
      border:0;
      width: 30%;
      border-top:1px solid #1B73BA;
      border-bottom:1px solid #1B73BA;
      margin-bottom: 1%;
    }
    
    .privacy-policy{
      margin-bottom: 5%;
      
      a {
        color: #1B73BA;
      }
    }
  }
}

@media screen and (min-width:700px) and (max-width: 1000px) {

  .contact {
      .title { 
        font-size: 60px;
      }

      .privacy-policy{
        margin: 0px auto;
        margin-bottom: 5%;
        width: 500px;
      }
    }
}

@media screen and (min-width:300px) and (max-width: 699px) {
  .contact {
    font-size: 12px;

    .title { 
      text-align: center;
      font-size: 40px;
    }
    .from-layer{

      p{
        text-align: center;
      }
      /*--------------------------------------
      テキスト
      ---------------------------------------*/
      .msr_text {
        margin-left:10px;
        margin-bottom: 20px;
        text-align: left;

        label {
            font-size: 12px;
          }
          
          input {
            width: 140px;
            height: 20px;
            border: 1px solid #1B73BA;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            color: #333;
            font-size: 15px;
            padding: 10px;
          }
        }
      
      
      /*--------------------------------------
      テキストエリア
      ---------------------------------------*/
      .msr_textarea {
        padding-bottom: 2%;
        margin-left:10px;

          label {
            text-align: center;
            font-size: 12px;
          }
        
          textarea {
            margin: 0px auto;
            border: 1px solid #1B73BA;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            color: #333;
            font-size: 13px;
            padding: 10px;
            height: 100px;
            width: 300px;
          }
       }
      
      /*--------------------------------------
      送信ボタン
      ---------------------------------------*/
      .msr_sendbtn{
          margin: 50px;
          text-align: center;
        }
      
        .msr_sendbtn input[type=submit] {
          background: url(src/assets/image/arrow_blue02.png) no-repeat;
          background-position: 10px;
          border: 2px solid #1B73BA;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          color: #1B73BA;
          cursor: pointer;
          font-size: 14px;
          transition: 0.2s ease-in-out;
          -o-transition: 0.2s ease-in-out;
          -moz-transition: 0.2s ease-in-out;
          -webkit-transition: 0.2s ease-in-out;
          height: 40px;
          width: 150px;
        }
        .msr_sendbtn input[type=submit]:hover {
          opacity: 0.6;
        }
        .msr_sendbtn input[disabled=disabled] {
          background: #B4B4B4 url(src/assets/image/arrow_gray02.png) no-repeat;
          background-position: 10px;
          border: 2px solid #7E7E7E;
          color: #7E7E7E;
          cursor: default;
        }
        .msr_sendbtn input[disabled=disabled]:hover {
          opacity: 1;
      }
      
      hr {
        height:0;
        border:0;
        width: 40%;
        border-top:1px solid #1B73BA;
        border-bottom:1px solid #1B73BA;
        margin-bottom: 20px;
      }
      
      .privacy-policy{
        margin: 0px auto;
        margin-bottom: 5%;
        width: 300px;
      }
    }
  }
}