<div class="policy">
    <div class="title">
        <p>PRIVACYPOLICY</p>
    </div>
        <span>SAKEbar古風路（以下「当店」）は、以下のとおり個人情報保護方針を定め、個人情報保護の仕組みを構築し、<br></span>
        <span>全従業員に個人情報保護の重要性の認識と取組みを徹底させることにより、個人情報の保護を推進致します。</span>
    <div class="textArea">   
        <div class="subTitle">
            <p>&nbsp;&nbsp;個人情報の管理</p>
        </div>
        <p>当店は、お客さまの個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備・社員教育の徹底等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。</p>

        <div class="subTitle">
            <p>&nbsp;&nbsp;個人情報の利用目的</p>
        </div>
        <p>お客さまからお預かりした個人情報は、当店からのご連絡や業務のご案内やご質問に対する回答として、電子メールや資料のご送付に利用いたします。</p>
        
        <div class="subTitle">
            <p>&nbsp;&nbsp;個人情報の第三者への開示・提供の禁止</p>
        </div>
        <p>当店は、お客さまよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。</p> 
        <p>お客さまの同意がある場合</p>
        <p>お客さまが希望されるサービスを行なうために当店が業務を委託する業者に対して開示する場合</p>
        <p>法令に基づき開示することが必要である場合</p>
        
        <div class="subTitle">
            <p>&nbsp;&nbsp;法令、規範の遵守と見直し</p>
        </div>
            <p>当店は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。</p>
        <div class="subTitle">
            <p>&nbsp;&nbsp;Googleアナリティクスの利用について</p>
        </div>
            <p>当社が利用するCookieには、「Googleアナリティクス」など第三者のCookieもございます。これを使用することで、お客様が閲覧したページに関する情報や当社サイト等にアクセスするコンピューター等に関する情報（端末固有ID、IPアドレス、オペレーティング・システムやブラウザ種別等）など、サイト内で行われた活動に関する情報を収集し、分析しております。</p>
            <p>第三者のCookieの利用は、当社サイト等にアクセスしている間のみ有効です。これらの企業が当社のために情報を収集して使用する方法の詳細については、下記をご確認下さい。</p>
            <p>Google アナリティクス(<a href="https://policies.google.com/">https://policies.google.com/</a>)</p>
    </div>
    <div class="contact">
        <label>お問い合せ</label>
        <p>当店の個人情報の取扱に関するお問い合せは下記までご連絡ください。</p>
        <p>SAKEbar古風路</p>
        <!-- <p>Tell&nbsp;:&nbsp;XX-XXXX-XXXX</p> -->
        <p>Mail&nbsp;:&nbsp;sake.bar.cofro@gmail.com</p>        
    </div>
</div>

