.policy {
    padding-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;

    .title {
        font-family: 'Permanent Marker', 'acgyosyo', cursive;
        text-align: center;
        margin-top: -90px;
        margin-bottom: 0px;
        font-size: 100px;
    
    }
    span{
        font-size: 25px;
        margin-left: 30px;
    }
    
    label {
        text-align: center;
        font-size: 30px;
        margin-left: 30px;
    }
    
    .textArea {
        text-align: left;
        margin-left: 30px;
        margin-right: 30px;
    }

    .subTitle {
        padding: 0.5em 1em;
        margin: 1em 0;
        width: 400px;
        border-left: solid 6px #1B73BA;
        font-size: 20px;
        margin: 0; 
        padding: 0;
    }

    a {
        color: #1B73BA;
    }

    .contact {
        width: 550px;
        padding: 10px;
        margin: 2em 0;
        margin-left: 30px;
        border: solid 3px whitesmoke;
        
        label {
            border-bottom:solid;
            border-color: #1B73BA;
        }

        p {
            text-align: left;
            margin-left: 10px;
        }
    }
}

@media screen and (min-width:760px) and (max-width: 1000px) {
    .policy {
        margin-bottom: -17px;
    
        .title {
            text-align: center;
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 60px;
        }

        span{
            font-size: 25px;
            margin-left: 10px;
        }

        label {
            text-align: center;
            font-size: 20px;
            margin-left: 10px;
        }
    }
}

@media screen and (min-width:300px) and (max-width: 759px) {
    .policy {
        margin-bottom: -17px;
    
        .title {
            text-align: center;
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 40px;
        }
        
        label {
            text-align: center;
            font-size: 15px;
            margin-left: 10px;
        }
        
        span{
            font-size: 13px;
            margin-left: 10px;
        }

        .textArea {
            text-align: left;
            margin-left: 10px;
            margin-right: 10px;
        }
    
        .subTitle {
            padding: 0.5em 1em;
            margin: 1em 0;
            width: 300px;
            border-left: solid 6px #1B73BA;
            font-size: 15px;
            margin: 0; 
            padding: 0;
        }
    
        a {
            color: #1B73BA;
        }
    
        .contact {
            width: auto;
            padding: 10px;
            margin: auto 0;
            margin-left: 0px;
            border: solid 3px whitesmoke;
            
            label {
                border-bottom:solid;
                border-color: #1B73BA;
            }
    
            p {
                text-align: left;
                margin-left: 10px;
            }
        }
    }
}