.top-menu {
    font-size: 600%;
    font-family: 'La Belle Aurore', cursive;
    margin-bottom: -20px;
    
    #photo {
        width: 100%;
        height: 1080px;
        margin: 0 auto;
        text-align: left;
        overflow: hidden;
        position: relative;
    }
    
    #photo img {
        width: 100%;
        max-height: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }

}

.top-menu-phone{
    display: none;
}

/* ボタンのスタイル */
.bg-change {
    position: relative; 
    top: 0;
    bottom: 0;
    height: 0px;
    width: 200px;
    text-align: left;
    z-index: 30;
    cursor: pointer;
}

.bg-change.no1 {
    top: 100px;
}
.bg-change.no2 {
    top: 300px;
}
.bg-change.no3 {
    top: 500px;
}
.bg-change.no4 {
    top: 700px;
}

@media screen and (min-width:760px) and (max-width: 1000px) {
    .top-menu {
        font-size: 70px;
        margin-bottom: -20px;
        background-image: url("/assets/image/footer00.png");

        #photo {
            width: 100%;
            height: 700px;
            margin: 0 auto;
            text-align: left;
            overflow: hidden;
            position: relative;
        }
        
        #photo img {
            max-width: 100%;
            max-height: 100%;
            top: 0;
            left: 0;
            position: absolute;
        }
    }
    .bg-change.no1 {
        top: 0px;
    }
    .bg-change.no2 {
        top: 100px;
    }
    .bg-change.no3 {
        top: 200px;
    }
    .bg-change.no4 {
        top: 300px;
    }
    .top-menu-phone{
        display: none;
    }
}

@media screen and (min-width:300px) and (max-width: 759px) {
    .top-menu {
        font-size: 70px;
        margin-bottom: -20px;
        background-image: url("/assets/image/footer00.png");

        #photo {
            width: 100%;
            height: 300px;
            margin: 0 auto;
            text-align: left;
            overflow: hidden;
            position: relative;
        }

        #photo img {
            max-width: 100%;
            max-height: 100%;
            top: 0;
            left: 0;
            position: absolute;
        }
        .bg-change {
            display: none;
        }
    }
}