<div class="top-menu">
    <div class="bg-change no1" routerLink="about">ABOUT</div>
    <div class="bg-change no2" routerLink="DrinkMenu">MENU</div>
    <div class="bg-change no3" routerLink="news">NEWS</div>
    <div class="bg-change no4" routerLink="acsess">ACCESS</div>
    <!-- PC -->
    <div id="photo">
        <img src="assets/image/shop/IMG_0134.jpeg">
        <img src="assets/image/shop/IMG_0112.jpeg">
        <img src="assets/image/shop/IMG_0121.jpeg">
        <img src="assets/image/shop/IMG_0114.jpeg">
        <img src="assets/image/shop/IMG_0151.jpeg">
    </div>
</div>