<!--acsess-->
<div class="access">
    <div class="title">ACCESS</div>
    <div class="p-flextest">
        <div class="p-flextest__item">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1362.1430548928872!2d139.7312543575632!3d35.708004804867954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d0027bd5021%3A0x73de3a31aab1e219!2z44CSMTYyLTA4MDEg5p2x5Lqs6YO95paw5a6_5Yy65bGx5ZC555S677yT77yW77yQ4oiS77yS77yR!5e0!3m2!1sja!2sjp!4v1571743841108!5m2!1sja!2sjp" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <div class="p-flextest__item">
            <p class="item-title">SAKEbar古風路<label>-SAKEbarCofro-</label></p>
            <div>
            <p>住所</p>
            <p>〒162-0801</p>
            <p>東京都新宿区山吹町360-21</p>
            <p>イデアル神楽坂1F</p>
            <!-- <p>電話番号　XX-XXXX-XXXX</p> -->
            <p>営業時間</p>
            <p>[月～金]&nbsp;&nbsp;20:00-23:30</p>
            <p>[土・日祝]&nbsp;&nbsp;定休日</p>
            <hr>
            <p>ADDRESS</p>
            <p>IDEAL Kagurazaka 1F</p>
            <p>360-21, Yamabukicho,</p>
            <p>Shinjuku, Tokyo,</p>
            <p>162-0801, Japan</p>
            <!-- <p>TEL　XX-XXXX-XXXX</p> -->
            <p>Open Mon.-Fri.&nbsp;&nbsp;8:00 PM-11:30 PM</p>
            <p>Sat. and Sun. and holidays are closed.</p>
            <hr>
            </div>
        </div>
    </div>
    <div class="p-flextest-map">
        <p class="item-title">交通アクセス<label>-subway-</label></p>
        <p>東京メトロ有楽町線  江戸川橋駅　徒歩3分</p>
        <p>Tokyo Metro YurakutyoLine Edogawabashi 3 minutes on foot.</p>
        <hr>
        <p>東京メトロ東西線  神楽坂駅　徒歩8分</p>
        <p>Tokyo Metro TozaiLine Kagurazaka 8 minutes on foot.</p>
        <hr>
    </div>
</div>