.access {
	font-family: 'Mansalva', 'acgyosyo', cursive;

	.title {
		text-align: center;
		font-family: 'Permanent Marker', cursive;
		font-size: 100px;
		margin-bottom: -20px;
	}
	
	label {
		font-size: 15px;
	}

	.p-flextest {
		width: 100%;
		margin-bottom:-20px;
		display:flex;
	
		img{
			width: 100%;
		}
	
		&__item {
			flex-basis: 100%;
			padding: 5px;
			font-size: 20px;

			hr {
				width: 40%;
				text-align:left;
				margin-left:0px
			}
			.item-title {
				font-size: 30px;
			}
	
			&:first-of-type {
				padding: 30px;
				margin-top: 90px;
				
				iframe {
					width: 800px;
					height: 700px;
				}
			}
	
			&:nth-of-type(2) {
				padding-top: 10px;
				padding-right: 0px;
			}
		}
	}
	
	.p-flextest-map {
		width: 100%;
		margin-top: 70px;
		margin-bottom: 30px;
		text-align: center;

		p {
			font-size: 22px;
		}
		label {
			font-size: 20px;
		}

		hr {
			width: 30%;
		}

		.item-title {
			font-size: 30px;
			margin-bottom: 50px;
		}
	}
	
}

@media screen and (min-width:760px) and (max-width: 1000px) {
	.access {
		margin-top: 50px;
        margin-bottom: 20px;
		font-family: 'Mansalva', 'acgyosyo', cursive;
	
		.title {
			text-align: center;
			font-family: 'Permanent Marker', cursive;
			font-size: 60px;
			margin-bottom: 0px;
		}
		
		label {
			font-size: 15px;
		}
	
		.p-flextest {
			width: 100%;
			margin-bottom: 40px;
			display:inline-block;
		
			img{
				width: 100%;
			}
		
			&__item {
				flex-basis: 100%;
				padding: 5px;
				font-size: 20px;
	
				hr {
					width: 40%;
					margin: 0px auto;
				}
				.item-title {
					font-size: 30px;
				}
		
				&:first-of-type {
					text-align:center;
					padding: 10px;
					margin-bottom:0px;
					iframe {
						width:700px;
						height:600px;
					}
				}
		
				&:nth-of-type(2) {
					text-align:center;
					padding-top: 10px;
					padding-right: 0px;
				}
			}
		}
		
		.p-flextest-map {
			width: 100%;
			margin-bottom: 50px;
			text-align: center;
	
			p {
				font-size: 20px;
			}
			label {
				font-size: 20px;
			}
	
			hr {
				width: 40%;
			}
	
			.item-title {
				font-size: 25px;
				margin-bottom: 40px;
			}
		}
		
	}
}

@media screen and (min-width:300px) and (max-width: 759px) {
	.access {
		margin-top: 40px;
        margin-bottom: 20px;
		font-family: 'Mansalva', 'acgyosyo', cursive;
	
		.title {
			text-align: center;
			font-family: 'Permanent Marker', cursive;
			font-size: 40px;
			margin-bottom: 0px;
		}
		
		label {
			font-size: 15px;
		}
	
		.p-flextest {
			width: 100%;
			margin-top: 0px;
			margin-bottom:-20px;
			display:inline-block;
		
			img{
				width: 100%;
			}
		
			&__item {
				flex-basis: 100%;
				padding: 5px;
				font-size: 15px;
	
				hr {
					width: 40%;
					text-align: center;
					margin: 0px auto;
				}

				.item-title {
					font-size: 25px;
				}
		
				&:first-of-type {
					margin-top: 20px;
					text-align:center;
					padding: 10px;
					margin-bottom:-20px;
					iframe {
						width:300px;
						height:400px;
					}
				}
		
				&:nth-of-type(2) {
					text-align:center;
					padding-top: 10px;
					padding-right: 0px;
				}
			}
		}
		
		.p-flextest-map {
			width: 100%;
			margin-bottom: 30px;
			text-align: center;
	
			p {
				font-size: 15px;
			}
			label {
				font-size: 20px;
			}
	
			hr {
				width: 40%;
			}
	
			.item-title {
				font-size: 25px;
				margin-bottom: 50px;
			}
		}
		
	}
}